### Q1
- 아래의 값을 저장하고 있는 info 변수를 생성하세요.
    - ['Park', '010-1234-5678', 'Seoul']
- info의 두번째 값을 변수 phone에 저정하세요.
    - 결과 : '010-1234-5678'
- phone의 값을 '-'을 기준으로 분리하세요.
    - 결과 : ['010', '1234', '5678']
- 위의 리스트를 공백(' ')을 기준으로 연결하세요.
    - 결과 : '010 1234 5678'

In [2]:
info = ['Park', '010-1234-5678', 'Seoul']
phone = [info[1]]
print(phone)

['010-1234-5678']

In [6]:
b = phone[0].split('-')
b

['010', '1234', '5678']

In [7]:
d = " ".join(b)
print(d)

010 1234 5678

<br/>
<br/>
<br/>
<br/>

### Q2
- 아래의 값을 저장하고 있는  my_list 변수를 생성하세요.
    - my_list = [1, 3, 12, 7, 10, 9]
-  my_list를 역순으로 출력하세요.
    - 결과: [9, 10, 7, 12, 3, 1]
- temp에 [1,3,2]를 저장하고, 아래와 같은 결과가 나오도록 출력하세요.
    - 결과: [9, 10, 7, 12, 3, 1, 1, 2, 3]

In [28]:
my_list = [1, 3, 12, 7, 10, 9]

my_list.reverse()
my_list

[9, 10, 7, 12, 3, 1]

In [29]:
temp = [1, 3, 2]
temp.sort()
my_list + temp

[9, 10, 7, 12, 3, 1, 1, 2, 3]

<br/>
<br/>
<br/>
<br/>

### Q3
- 아래의 값을 저장하고 있는 my_list 변수를 생성하세요.
    - my_list = [[1,2,3], [4,5,6], [7,8]]
- 결과와 같은 위치에 9를 추가하세요.
    - 결과: [[1,2,3], [4,5,6], [7,8,9]]
- 결과와 같은 위치에 [1,1,1]을 추가하세요.
    - 결과: [[1,2,3], [1,1,1], [4,5,6], [7,8,9]]

In [14]:
my_list = [[1,2,3], [4,5,6], [7,8]]
my_list[2].append(9)
print(my_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
b = [1, 1, 1]
my_list.insert(1, b)
print(my_list)

[[1, 2, 3], [1, 1, 1], [4, 5, 6], [7, 8, 9]]

<br/>
<br/>
<br/>
<br/>

### Q4
- 아래의 각 리스트를 region1과 region2에 저장하세요.
    - ['서울', '서울', '대구', '강릉', '제주', '제주', '대전']
    - ['인천', '광주', '부산', '대전', '제주']
- region1의 중복값을 제거하세요.
    - 결과 : ['서울', '대구', '제주', '강릉', '대전']
- region1과 region2의 공통 값을 구하세요.
    - 결과 : ['제주', '대전']

In [8]:
region1 = ['서울', '서울', '대구', '강릉', '제주', '제주', '대전']
region2 = ['인천', '광주', '부산', '대전', '제주']
a = set(region1)
print(a)

{'대구', '강릉', '서울', '대전', '제주'}

In [9]:
b = set(region2)
print(a & b)

{'대전', '제주'}

<br/>
<br/>
<br/>
<br/>

### Q5
- 학생들의 이름과 점수를 key와 value로 가지는 score 변수를 생성하세요.
    - 하준 90점, 서윤 86점, 지아 80점
- 서윤의 점수를 76점으로 수정하세요.
- score 변수에서 지아를 삭제하세요.
- score 변수에 민우 100점을 추가하세요.

In [55]:
a = {
    '하준' : 90, "서윤" : 86, "지아" : 80
}

In [56]:
a["서윤"] = 76
print(a)

{'하준': 90, '서윤': 76, '지아': 80}

In [57]:
del a["지아"]
print(a)

{'하준': 90, '서윤': 76}

In [58]:
a["민우"] = 100
print(a)

{'하준': 90, '서윤': 76, '민우': 100}