## 함수 활용

## 람다함수 lambda

**최신 프로그램 언어는 '함수'라는 기능을 '매개변수'처럼  전달하는 코드를 많이 사용한다.**  
파이썬에서는 이런 기법을 **람다** 기능으로 제공한다.  

함수 정의에서 발생할 수 밖에 없는 코드 블락 작성과 코드 작성을 위한 공간이 낭비된다는 생각을  
개발자들이 하게 되었고 그래서 람다라는 개념이 생겨났다.  

람다는 **함수를 보다 쉽게 선언하고 정의하는 방법** 이다.  

**Syntax**  
> lambda 매개변수 : 리턴값(코드구현)

* 이름없는 익명함수  
* 함수 정의에서 def 대신에 lambda 키워드를 사용
* 한줄로 작성한다

In [5]:
#람다함수 선언
power = lambda x : x * x
under_3 = lambda x : x <3 # boolean 값 출력 
print(power(3))
print(under_3(3))
print(under_3(2))

#변수 선언
list_input = [1, 2, 3, 4, 5]
print(list_input)

9
False
True
[1, 2, 3, 4, 5]

In [10]:
def double2(x):
    print(x*2)
double2(3)

6

In [11]:
double2 = lambda x : x * 2

print(double2(3))

6

`위 double2 함수를 정의하고 코드를 작성하는 일은 다소 번거롭다  
  람다함수를 사용하면 한줄로 출력결과값을 바로 도출해서 편리하다`

`람다 함수도 인자값을 하나 이상 가질수 있다.
 이때 호출시 전달되는 인자값 숫자에 주의하자`

In [12]:
a = lambda x, y : x * y
a(7, 6)

42

In [14]:
a = lambda x, y, z : x + y - z
a(10, 2, 7)
a(y = 10, z = 2, x = 7)

15

`람다함수 안에서 조건문을 걸어줄 수 있다`

In [16]:
a = lambda x, y : x * y if x > 0 else y
a(-1, 4)

4

`람다함수는 elif를 사용할 수 없다
 단 elif 비슷하게 코드를 구성해 볼 수는 있다
`

In [17]:
a = lambda x : x * 10 if x < 2 else (x**2 if x < 4 else x + 10 )
a(3)

#별로 추천하지 않는 방식

9

### map, filter, zip 함수
### map

map() 함수는 리스트 요소를 넣고 리턴되는 값으로 새로운 리스트를 구성해주는 함수기능  

* map(함수, 리스트)
* map(a,b) - b 리스트 값을  a 함수패턴으로 매핑시키는 기능

### filter

리스트의 요소를 함수에 넣고  
해당 조건을 만족하는 데이타만 필터링 해서 가져온다  

* filter(함수, 리스트)
* filter(a,b) - b 리스트 값을  a 함수 조건을 만족하는 요소만 리턴함

`map 사용`

In [20]:
sample = list(range(1, 11))
sample

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
map(str, sample)

In [24]:
list(map(str, sample))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [26]:
list(map(int, sample))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
list(map(float, sample))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [29]:
list(map(bool, sample))

[True, True, True, True, True, True, True, True, True, True]

In [30]:
list(map(float, sample))

TypeError: unsupported operand type(s) for +: 'type' and 'int'

#### map(), filter() 함수

In [35]:
def power(value):
    return value * value

def under_3(value):
    return value < 3

#변수
list_input = [1, 2, 3, 4, 5]

#map() 사용
print('======================================')
result_map = map(power,list_input)
print(list(result_map))
print('======================================')
result_map2 = map(under_3, list_input)
print(list(result_map2))
print('======================================')
result_map3 = filter(under_3, list_input)
print(list(result_map3))

======================================
[1, 4, 9, 16, 25]
======================================
[True, True, False, False, False]
======================================
[1, 2]

* map에 람다함수를 매핑

In [39]:
a = lambda x : x * 2

x = map(a, sample)
list(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
list(map(lambda x : x * 2, sample))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

* map에 multi parameter를 넘겨줄 수 있다

In [42]:
sample = list(range(1, 11))
sample2 = [2, 13, 4, 56, 7]

list(map(lambda x, y : x + y, sample, sample2))

[3, 15, 7, 60, 12]

* 아름다운 파이썬 문법은 넘겨주는 list의 사이즈가 달라도 되며, 사이즈가 작은 리스트에 자동으로 맞춥니다
* 사이즈가 더 작은 것에 자동으로 맞추고 스톱한다

* filter에 람다함수를 매핑

In [44]:
list(filter(lambda x : True if (x > 5) else False, sample))

[6, 7, 8, 9, 10]

### zip

* zip은 원래 압축파일로 익숙한데 그 개념과는 다르다.
* map이나 filter보다는 더 중요하게 사용되는 기능
* 여러 샘플 데이타들 중에서 같은 인덱스끼리 그룹을 만들어 주는 기능

In [45]:
pro_number = [111, 222, 333]
pro_maker = ['notebook', 'Denim Jacket', 'Leather Jacket']
pro_price = [200, 50, 50, 220, 3124]

In [48]:
zip(pro_number, pro_maker)

In [49]:
list(zip(pro_number, pro_maker))

[(111, 'notebook'), (222, 'Denim Jacket'), (333, 'Leather Jacket')]

In [53]:
list(zip(pro_number, pro_maker, pro_price))

[(111, 'notebook', 200),
 (222, 'Denim Jacket', 50),
 (333, 'Leather Jacket', 50)]

### zip을 활용한 딕셔너리 만들기

* 많이 사용한다

In [66]:
ssn = [7788, 1234, 6790]
name = ['강호동', '민경훈', '이상민']

my_dic = {}
for s, n in zip(ssn, name):
    my_dic[s] = n

my_dic

{7788: '강호동', 1234: '민경훈', 6790: '이상민'}

In [67]:
list(zip(ssn, name))
for i in range(len(ssn)):
    print(ssn[i], '\t', name[i])

7788 	 강호동
1234 	 민경훈
6790 	 이상민

In [69]:
#enumerate 리스트의 각각 요소마다 인덱스도 같이 뽑아주는 것
for i, v in enumerate([1, 2, 3, 4 ,5]):
    print("{}번 째 요소는 {}입니다.".format(i, v))

0번 째 요소는 1입니다.
1번 째 요소는 2입니다.
2번 째 요소는 3입니다.
3번 째 요소는 4입니다.
4번 째 요소는 5입니다.

### 내장함수

In [74]:
import math

print(math. pi)

3.141592653589793

### 문제 1.

다음은 많은 사람들이 파이썬 프로그램을 개발하다가 막히는 대표적인 코드입니다.  
numbers 리스트 데이타가 주어졌습니다. 

numbers가 아래 실행결과로 출력되도록 코드를 작성하세요  


numbers = [1, 2, 3, 4, 5, 6]

실행결과 >> 1::2::3::4::5::6

In [5]:
numbers = [1, 2, 3, 4, 5, 6]
a = list(map(str, numbers))
result = '::'.join(a)
print(result)

1::2::3::4::5::6

### 문제 2.

numbers = list(range(1, 10 + 1))  

number는 위와 같이 지정되어 있습니다.  
람다와 필터를 함께 사용해서 아래와 같은 결과를 각각 구하세요  

1) 홀수만 추출하기  
2) 3 이상, 7 미만 추출하기  
3) 제곱해서 50 미만 추출하기

In [86]:
numbers = list(range(1, 10 + 1))
a = lambda x : True if x % 2 == 1 else False
b = lambda x : True if x >= 3 and x < 7 else False
c = lambda x : True if x ** 2 < 50 else False
print(list(filter(a, numbers)))
print(list(filter(b, numbers)))
print(list(filter(c, numbers)))

[1, 3, 5, 7, 9]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]