### 자료구조
* Sequence Type
  - 문자열
  - 리스트
  - 튜플

* 딕셔너리

* SET

### SET

    중복을 허용하지 않는다.
    순서가 없다
    
    순서가 없기 때문에 인덱싱을 통해서 자료를 조회할 수 없다.
    인덱싱을 사용하려면 리스트, 튜플 자료형으로 변환한 수 사용할 수 있다.
    list(), tuple() 변환함수 사용
    
    중복을 허용하지 않는 SET 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용된다.
    [1,1,2,22,3,4,5,5,5,6,6]
    set([1,1,2,22,3,4,5,5,5,6,6])

### 1. 생성하기

In [6]:
my_set = set()
## my_set = {} type이 dict이다.
my_set = set([1, 1, 2, 3, 6, 7, 8, 8, 8, 9, 10]) # 중복제거, 순서상관X
my_set = set((1, 1, 2, 3, 6, 7, 8, 8, 8, 9, 10)) # 튜플도 가능하긴함
my_set

{1, 2, 3, 6, 7, 8, 9, 10}

In [16]:
print('=========== list a ====================')
a = [78, 2,7,12,4,4, 7,78,2,1]
print(a)

print('=========== set set_a ====================')

set_a = set(a)
set_a

#set_a.sort() set는 인덱스 개념이 없기에 정렬 안됨.

list_a = list(set_a)
list_a.sort(reverse = True)
print(list_a)

=========== list a ====================
[78, 2, 7, 12, 4, 4, 7, 78, 2, 1]
[78, 12, 7, 4, 2, 1]

### 2. 값 추가하기

* add() -- 하나의 값을 추가하는 기능
* update() -- 여러 개의 값을 추가하는 기능 | 하나는 안 됨.

*add*

In [25]:
my_set2 = set()
my_set2.add(1)
my_set2.add(2)
my_set2.add(3)

my_set2.add(1)
my_set2.add(2)
my_set2.add(3)

my_set2

{1, 2, 3}

*update*

In [27]:
datas = {4, 5, 6, 7}
my_set2.update(datas)

my_set2

# my_set3.update(9) 단일값 추가는 업데이트에서는 안 됨.

# my_set3 = set()
# my_set3.add(8)
# my_set2.update(myset3) 이것은 가능

{1, 2, 3, 4, 5, 6, 7}

### 3. 값 삭제하기

del과 pop은 index기반이기 때문에 set에서는 사용 불가하다.
remove만 사용 가능하다.

remove() : 제거하고자 하는 값을 입력

In [28]:
my_set2.remove(7)
my_set2

{1, 2, 3, 4, 5, 6}

### 4. 집합함수

* 교집합 : & .intersection()
* 합집합 : | .union()
* 차집합 : - .difference()

In [29]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [31]:
a & b
a.intersection(b)

{3, 4, 5}

In [32]:
a | b
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
a - b
a.difference(b)

{1, 2}

### 문제 1

다음 리스트에서 중복된 항목을 제거하세요  

num_list = [1,3,2,3,4,6,8,4,10,5,3,8,9]

In [7]:
num_list = [1,3,2,3,4,6,8,4,10,5,3,8,9]

k = set(num_list)
k

{1, 2, 3, 4, 5, 6, 8, 9, 10}

### 문제 2

다음 중, a,b,c에서 공통으로 사용된 알파벳을 찾고(공백 허용)  
리스트 형식으로 출력하세요  

a = 'Hello, World'  
b = 'World To World'  
c = 'world to world'

In [43]:
a = 'Hello, World'
b = 'World To World'
c = 'world to world'

a1 = set(a)
b1 = set(b)
c1 = set(c)

x = a1 & b1 & c1
y = list(x)
print(y)

['r', 'o', 'd', ' ', 'l']

### 문제 3. 

두 리스트 book1과 book2의 공통 값을 찾는 방법으로 알맞은 것을 고르세요.  

book1 = ['파이썬', '데이터분석', '머신러닝', '딥러닝']  
book2 = ['파이썬', 'HTML', 'CSS', '자바스크립트', '장고']  

print( )  

**실행 결과**  

['파이썬']

In [46]:
book1 = ['파이썬', '데이터분석', '머신러닝', '딥러닝']
book2 = ['파이썬', 'HTML', 'CSS', '자바스크립트', '장고']

b1 = set(book1)
b2 = set(book2)

y = list(b1 & b2)
y

['파이썬']