### 변수(Variable)

* 값을 저장하는 공간
* 데이타 타입을 함께 지정할 필요가 없다
* 값이 먼저 동적으로 할당되고나서 거기에 해당하는 데이타 타입을 알아냄

In [17]:
a = 1
a1 = 1234
a2 = True
a3 = 1, 2, 'hello'
b, b1, b2 = 1, 2, 'hello'
a
a1
a2
a3
b

# a3와 같은 경우는 값을 하나 집어넣었다고 생각해야 한다. 하나의 공간에는 
# 하나의 값만 들어간다.
# b, b1, b2는 하나의 공간에 값을 하나씩 넣었다고 할 수 있다.

1

## 변수와 데이타 타입
    파이썬에서의 데이타 타입들
    
    기본형(여러 개의 값을 묶어서 넣을 수 없음) 
    
    int - 정수
    float - 실수
    bool - False, True
    str - 문자열
    
    자료형(여러 개의 값을 묶어서 넣을 수 있음) 
    
    list - 리스트, 순서가 있는 값들의 집합 [ ], 값은 변경 가능
    tuple - 튜플, 순서가 있는 값들의 집합 ( ), 값은 변경 불가
    set - 순서없고 중복 안되는 값들의 집합, { }
    dic - 키와 값이 쌍으로 저장되는 값들의 집합 {'key':value}
    
    List는 인덱스로 관리가 되고, set과 dic은 인덱스로 관리가 안된다.
    튜플은 읽기전용이다. 조회만 할 수 있도록. 값 변동 불가능

In [23]:
a = 3
b = 3.5
c = True
d = 'Hello'

print(a)
print(b)
print(c)
print(d)

#변수 안에 저장된 값의 타입을 출력... type()함수를 사용

print(type(a))
print(type(b))
print(type(c))
print(type(d))

3
3.5
True
Hello
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

### 아무것도 아닌 None 타입
다른 프로그램 에서는 Null 값과 같은 것  
사전상 의미는  
*  **Null : Nullify(무효화하다)**라는 뜻을 가지고 있답니다~~  

python에서는 None 입니다.

In [25]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

### Type 변경하기

**Type Casting**  

문자를 숫자로 변경 : int()  
숫자를 문자로 변경 : str()

In [35]:
print(int(True))
print(int(False))
#print(int('Hello')) ValueError (변환할 수 없는 값을 변환하려할 때 발생)
print(int('312'))

print(bool(1))
print(bool(0))

print(float(77))

print(str(312))

1
0
312
True
False
77.0
312

In [1]:
score1 = int(input('python 사전평가 점수를 입력하세요.>>'))
score2 = int(input('ML 점수를 입력하세요.>>'))
print('총점', score1 + score2)

python 사전평가 점수를 입력하세요.>>123
ML 점수를 입력하세요.>>123
총점 246

`질문 1`

`질문 2.
a = "3.140"
float(a)
`

a = "3.14"
float(a)

In [9]:
a = "3.140"
float(a)

3.14

### 문자열

인덱싱  
슬라이싱  
인덱스로 관리가 되면 순서가 있는 것이다. ex) List

In [19]:
a = '가나다라마'
print(a[1 : 4])
print(a[-4 : -1])
print(a[: 2])
print(a[2 : ])
print(a[:])

# a[x : y] x번째부터 y-1번째 까지 출력

나다라
나다라
가나
다라마
가나다라마

In [48]:
my_str = 'python'
print(my_str[0])
print(my_str[5])
print(my_str[-1])
print(my_str[1 : 4])
print(my_str[:])
print(my_str[2 :])
print(my_str[:4])
print(my_str[-2:])
print(my_str[-4 : -1])
print(my_str[0:6:2])
print(my_str[-7:-1:2])
print(my_str[::2])
print(my_str[::-1])

p
n
n
yth
python
thon
pyth
on
tho
pto
pto
pto
nohtyp

### 문자열 주요함수

split() : 문자열을 쪼갤 때 사용  
join()

In [61]:
movies = '미나리, 경계선, 기생충, 학교'
print(movies)
print(len(movies))

moviesL = movies.split(",")
print(moviesL)

#join은 str에 적용되는 함수
movie = ','.join(moviesL)
print(movie)

미나리, 경계선, 기생충, 학교
17
['미나리', ' 경계선', ' 기생충', ' 학교']
미나리, 경계선, 기생충, 학교

### 연산자

* ==   같다
* =  뒤의 값을 앞의 것에 대입한다.
* // 나눴을 때의 몫
* % 나눴을 때의 나머지
* ** 제곱을 뜻함 ex) 3 ** 3 == 27

In [71]:
e = 3
f = 3.0

print(e == f)
print(type(e) == type(f))

a , b, c = 13, 5, -5

print(a//b)
print(a%b)
print(abs(c))
print(2**10)
print(4**6)

True
False
2
3
5
1024
4096

### 파이썬은 모든 변수를 객체 취급한다.

In [74]:
dir(__builtin__)
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [79]:

a = 257
b = 257
print(a == b)

print(id(a))
print(id(b))

print(a is b)
# is = 주소값 비교

True
2183187807376
2183187808208
False

In [82]:
'''
 -5에서 256 사이에 있는 값들은  
 메모리를 효율적으로 사용하기 위해서  
 이 범위에 있는 값들은 한 번만 객체를 만들고 다시 만들지 않는다.
 위의 257은 -5와 256 사이의 값이 아니기 때문에 주소값이 다르고  
 200은 주소값이 같다.
'''
a = 200
b = 200

#값비교
print(a == b)
print(a is b)

True
True

### 문제1
    키보드로 초를 입력받아서 다음과 같이 출력합니다.
    
    입력받는 초 ---  ex 3700
    출력양식 --- 3700초는 1시간 1분 40초 입니다.
    
    사용되는 연산자는? //, %
    출력 포멧팅 사용해서 출력하기

### 문제 2.
문자열 '210101-1234567' 을 인덱싱하여 성별을 나타내는 숫자를 출력하세요

### 문제 3.
문자열 '20210101Sunny' 을 슬라이싱하여 날짜는 date 변수에 날씨는 weather 변수에 저장 후 출력하세요.

### 문제 4. 

myStr 문자열이 다음과 같을 때, "y" 가 포함되어있지 않은 슬라이싱을 고르세요  
myStr = "IT's your life"

### 문제 5.  

다음 코드의 실행 결과로 알맞은 것을 고르세요  

myStr = 'Python'  
num = '3'  
print(myStr * num)

### 문제 6.

myStr 문자열이 다음과 같을 때, myStr의 역순으로 코드를 작성하세요  
myStr = '0123456789'  

실행 결과  
**9876543210**